:root {
  --bg-surface: #fcfcfc; /* 기본 배경 */
  --bg-footer: #f1f1f1; /* footer 배경 */
  --border-light: #d9d9d9; /* 일반적인 경계선 */
  --ips-navy: #273d82; /* 네이비 메인컬러 */
  --text-primary: #1a1a1a; /* 가장 진한 텍스트 */
  --text-secondary: #555555; /* 본문 또는 서브 정보 */
}

body {
  font-family: 'Noto Sans', sans-serif;
  color: var(--text-primary);
  background-color: var(--bg-surface);
}
