.hero-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video .layer {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 50%;
  position: absolute;
}
