.hero-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-video .layer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-video .text-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 50px;
}

.hero-video .video-text {
  color: var(--bg-surface);
  margin-top: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.hero-video .video-text .video-text__title {
  font-size: 32px;
  font-weight: 600;
}

.hero-video .video-text .view-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.hero-video .video-text .view-box .video-text-border {
  width: 100%;
  height: 1px;
}

.hero-video .video-text .view-box .view-btn {
  white-space: nowrap;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .hero-video .text-inner {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-video .video-text {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .hero-video .video-text .video-text__title {
    font-size: 24px;
  }
  .hero-video .video-text .view-box .video-text-border {
    display: none;
  }
  .hero-video .video-text .view-box .view-btn {
    padding-left: 0px;
  }
}
