.inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px 50px;
}

/* 비디오 섹션 */

.hero-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-video .layer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-video .video-text {
  color: var(--bg-surface);
  margin-top: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
}

.hero-video .video-text .video-text__title {
  font-size: 32px;
  font-weight: 600;
}

.hero-video .video-text .view-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.hero-video .video-text .view-box .video-text-border {
  width: 100%;
  height: 1px;
}

.hero-video .video-text .view-box .view-btn {
  white-space: nowrap;
  padding-left: 20px;
}

@media screen and (max-width: 768px) {
  .hero-video .text-inner {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-video .video-text {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  .hero-video .video-text .video-text__title {
    font-size: 24px;
  }
  .hero-video .video-text .view-box .video-text-border {
    display: none;
  }
  .hero-video .video-text .view-box .view-btn {
    padding-left: 0px;
  }
}

/* 소개 섹션 */
.introduce {
  padding: 110px 0px;
  background-color: white;
}

.introduce .introduce__text-box {
  text-align: center;
  padding-bottom: 90px;
}

.introduce .introduce__text-box .introduce__text-title {
  font-size: 40px;
  font-weight: 600;
  color: var(--ips-navy);
  padding-bottom: 20px;
}

.introduce .introduce__text-box .introduce__text-sub {
  font-size: 20px;
  color: var(--text-secondary);
}

.introduce .info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-items: center;
}

.introduce .info .info__inner {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.introduce .info .info__item .info__item__box {
  display: flex;
  gap: 40px;
  padding-bottom: 90px;
}

.introduce .info .info__item .info__item__box img {
  height: 100px;
}

.introduce .info .info__item .info__item__title {
  color: var(--ips-navy);
  font-weight: 600;
}

.introduce .info .info__number-box {
  justify-self: end;
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.introduce .info .info__number-box .count {
  font-size: 60px;
  font-weight: 400;
}

.introduce .info .info__number-box span {
  font-size: 16px;
  color: var(--text-secondary);
}

@media screen and (max-width: 1440px) {
  .introduce .info {
    max-width: 768px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 15px;
    justify-items: center;
  }
  .introduce .info .info__item .info__item__box {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .introduce .info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px 0px;
    justify-items: center;
  }
}

/* 비즈니스 섹션 */

.business {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  border-top: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);
}

.business .business__type {
  display: flex;
  color: var(--bg-surface);
  position: relative;
  justify-content: end;
}

.business .business__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.business .text-box-business {
  font-size: 24px;
  font-weight: 600;
  color: var(--ips-navy);
}

.business .business_border {
  color: var(--ips-navy);
}

.business .text-box-title {
  font-size: 24px;
  font-weight: 600;
  padding-top: 5px;
  padding-bottom: 10px;
}

.business .text-box-sub {
  color: var(--text-secondary);
}

.business .business__type .business__type__item {
  width: 100%;
  position: relative;
}

.business .business__type .business__type__item a {
  width: 100%;
  display: flex;
  justify-content: center;
}
.business .business__type .business__type__item img {
  width: 100%;
}

.business .business__type .business__type__text-box {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
}

.business .business__type .business__type__text-box span {
  display: block;
  text-align: center;
}

.business
  .business__type
  .business__type__text-box
  .business__type__text-box__title {
  font-size: 24px;
  font-weight: 600;
}

.business
  .business__type
  .business__type__text-box
  .business__type__text-box__sub {
  display: block;
  font-size: 20px;
  padding-top: 10px;
  font-weight: 400;
}

@media screen and (max-width: 1100px) {
  .business {
    grid-template-columns: 1fr;
    border-top: 1px solid var(--border-light);
    border-bottom: 1px solid var(--border-light);
  }

  .business .business__inner {
    padding: 50px 0px;
  }

  .business .business__type .business__type__item {
    height: 400px;
    overflow: hidden;
  }

  .business
    .business__type
    .business__type__text-box
    .business__type__text-box__title {
    font-size: 20px;
  }

  .business
    .business__type
    .business__type__text-box
    .business__type__text-box__sub {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
  .business .business__type {
    display: flex;
    flex-direction: column;
  }

  .business .business__type .business__type__item {
    height: 200px;
    overflow: hidden;
  }
}
