/* Logo */
header .logo {
  width: 153px;
  position: relative;
  display: inline-block;
}

header .logo img {
  display: block;
}

header .logo .logo-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.25s ease;
}

header.on .logo .logo-hover,
header:hover .logo .logo-hover {
  opacity: 1;
}

header .logo:hover .logo-default {
  opacity: 0;
}

/* 언어 메뉴 */
header .inner {
  position: relative;
}

header .lang-menu {
  width: 80px;
  height: auto;
  background-color: var(--bg-surface);
  z-index: 15px;
  position: absolute;
  top: 0px;
  right: 30px;
  text-align: center;
  display: none;
  color: var(--text-primary);
}

@media screen and (max-width: 1439px) {
  header .lang-menu {
    width: 70px;
    position: absolute;
    top: 70px;
  }
}

@media screen and (max-width: 768px) {
  header .lang-menu {
    right: 0px;
  }
}
.lang-menu.open {
  display: block;
}

header .lang-menu .lang-menu__list li {
  padding: 10px 0px;
}

/* header pc */
.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  color: var(--bg-surface);
  font-weight: 600;
}

header.on,
header:hover {
  background-color: var(--bg-surface);
  color: var(--text-primary);
  border-bottom: 1px solid var(--border-light);
  transition: background-color 0.3s, color 0.3s;
}

header.on .lang-btn,
header:hover .lang-btn,
header.on .menu-btn,
header:hover .menu-btn {
  color: var(--text-primary);
}

.header .inner {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Nav */
.header .nav__list {
  display: flex;
  gap: 52px;
}

.lang-btn {
  color: var(--bg-surface);
}

/* header pc 투뎁스 */
.mega {
  width: 100%;
  background-color: var(--bg-surface);
  border-top: 1px solid var(--border-light);
  border-bottom: 1px solid var(--border-light);
  margin-top: -80px;
  z-index: 10;
  color: var(--text-primary);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(-8px);

  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s 0.4s;
}

.mega.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);

  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0s;
}

.mega .mega-inner {
  max-width: 1440px;
  padding: 60px 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.mega .mega-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mega .mega-col .mega-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mega .mega-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.mega .mega-subtitle {
  margin-bottom: 5px;
}

.mega .mega-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 400;
  color: var(--text-secondary);
}

/* header 모바일 */
.m-header {
  width: 100%;
  height: 70px;
  padding: 0 50px;

  display: none;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .m-header {
    padding: 0 10px;
  }
}

.m-header button {
  color: var(--bg-surface);
}

/* Mobile 메뉴 */
.m-nav {
  width: 330px;
  height: 100dvh;
  padding: 30px 10px;
  position: fixed;
  top: 0;
  left: -330px;
  z-index: 20;

  background-color: var(--bg-surface);
}

.m-nav.open {
  position: fixed;
  left: 0px;
  transition: 0.3s;
}

.m-nav .btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.m-nav .close-btn {
  padding: 10px;
  color: var(--text-primary);
}

/* details marker 제거 */
.m-nav__summary::-webkit-details-marker,
.m-nav__sub-summary::-webkit-details-marker {
  display: none;
}

/* Summary */
.m-nav__summary,
.m-nav__sub-summary {
  list-style: none;
  cursor: pointer;
}

.m-nav__summary {
  padding: 15px;
  font-weight: 600;
}

.m-nav__sub-summary {
  padding: 10px 30px;
}

/* Sub / Group */
.m-nav__sub,
.m-nav__group {
  padding: 10px;
}

.m-nav__subtitle {
  padding: 10px 30px;
  font-weight: 600;
}

.m-nav__sub > li a {
  display: block;
  padding: 10px 30px;
  color: var(--text-secondary);
}

/* Hover */
.m-nav__item .m-nav__summary:hover,
.m-nav__sub > li:hover {
  background-color: var(--bg-footer);
  border-radius: 4px;
}

@media screen and (max-width: 1439px) {
  .header {
    display: none;
  }

  .m-header {
    display: flex;
  }
}

/* footer */
footer {
  width: 100%;
  height: 265px;
  background-color: var(--bg-footer);
  color: var(--text-secondary);
  display: flex;
  align-items: center;
}

footer .inner {
  width: 1440px;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-between;
}

footer .footer__left {
  display: flex;
  gap: 70px;
}

footer .footer__text .footer__text__list {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 20px;
}

footer
  .footer__text
  .footer__text__list
  .footer__text__list__item:nth-child(1) {
  font-weight: 600;
}

footer .footer__site {
  display: flex;
  align-self: end;
  position: relative;
}

footer .footer__site .site-btn {
  display: flex;
  gap: 10px;
  color: var(--text-secondary);
  font-weight: 600;
}

.site-menu {
  display: none;
  position: absolute;
  top: -200px;
}

.site-menu .site-menu__list li {
  padding: 10px 0px;
  text-align: center;
}

.site-menu.open {
  display: block;
  width: 150px;
  height: auto;
  background-color: var(--bg-surface);
}

@media screen and (max-width: 1439px) {
  footer {
    width: 100%;
  }
  footer .inner {
    width: 100%;
  }

  footer .footer__left {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    height: 320px;
  }

  footer .inner {
    width: 100%;
    flex-direction: column;
    padding: 0px 20px;
    align-items: start;
  }

  footer .footer__text .footer__text__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin-bottom: 20px;
  }

  footer .footer__text .footer__text__list span {
    display: none;
  }

  footer .footer__site {
    padding-top: 20px;
    display: flex;
    align-self: start;
  }

  footer .footer__site .site-btn {
    padding: 0;
  }
}
